body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    background-color: black;
    color: black;
    text-align: justify;

    
}

h1{

    color: deeppink;
}
.box {
    background-color: white;
    width: 900px;
	height: 700px;
	border: 1px solid #000;
	margin: auto;
	text-align: left;
}

img {
    float: left;
    margin-left: 30px;

}
